@tailwind base;
@tailwind components;
@tailwind utilities;

.example-initial-animation {
    animation: initial-animation 2s ease;
}

@keyframes  initial-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}